.main-panel {
    flex-grow: 1;
    padding: .5em;
    position: relative;
}

.sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.sprite__header {
    display: flex;
    justify-content: space-between;
}