.main-panel {
    flex-grow: 1;
    padding: .5em;
    position: relative;
    background: radial-gradient(circle at 50% 42%, var(--color-white) 0%, var(--color-bg-hover) 78%);
}

.sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.sprite__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sprite__actions {
    display: flex;
    align-items: start;
    gap: 0.5rem;
}

.sprite__unsaved-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 50%;
    background: var(--color-white);
}

.sprite__name {
    word-break: break-all;
}
