.main-panel {
    flex-grow: 1;
    padding: .5em;
    position: relative;
    background: radial-gradient(circle at 50% 42%, #ffffff 0%, #e6e3db 78%);
}

.sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.sprite__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sprite__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}