.project-panel {
    padding: .5em;
    border-right: solid 1px black;
    min-width: 15%;
    display: flex;
    flex-direction: column;
}

.project__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project__name-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.sprite-list {
    padding-left: 1rem;
}