.nav {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.app-header {
    padding: .5em;
    border-bottom: solid 1px #e0dcd2;
    display: flex;
}

.auth {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}